/* ----- General ----- */
@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @fg;
  transition-property: background-color;
  border-radius: 12px;
  transition-duration: .5s;
}

/* ----- Custom Menu ----- */

#custom-menu {
  padding: 2px 15px;
  margin: 5px;
  color: @green;
  background-color: @bg;
  border: none;
  border-radius: 8px 0px 0px 8px;
}

#custom-menu:hover {
  color: @fl;
}

/* ----- Workspaces ----- */

#workspaces {
  padding: 2px 12px;
  margin: 5px;
  background-color: @bg;
  border-radius: 0px;
}

#workspaces button {
  padding: 0px 3px;
  background-color: transparent;
  color: @overlay0;
  transition: all 0.1s linear;
}

#workspaces button:hover {
  color: @vl;
  transition: all 0.1s linear;
}

#workspaces button.active {
  color: @fg;
}

#workspaces button.active:hover {
  color: @vl;
}

#workspaces button.urgent {
  color: @red;
}

/* ----- Button..? ----- */

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0px;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px transparent;
}

/* ----- Window ----- */

#window {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg;
  border-radius: 0px 8px 8px 0px;
}

#window:hover {
  color: @vl;
}

/* ----- Tray ----- */

#tray {
  padding: 2px 15px;
  margin: 5px;
  background-color: @bg;
  border-radius: 0px;
}

/* ----- Taskbar ----- */

#taskbar {
  padding-left: 5px;
  padding-right: 0px;
  margin: 5px 5px 5px 5px;
  background-color: @bg;
  border-radius: 0px;
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  margin: 3px 0px 3px 0px;
  padding: 0px 2px 0px 2px;
  border-radius: 8px;
}

#taskbar button:hover {
  border-radius: 8px;
  transition: all 0.1s linear;
}

/* ----- Language ----- */

#language {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg;
  border-radius: 8px 0px 0px 8px;
}

#language:hover {
  color: @blue;
}

/* ----- Battery ----- */

#battery {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg;
  border-radius: 0px;
}

#battery:hover {
  color: @green;
}

/* ----- Pulseaudio (aka Pipewire) ----- */

#pulseaudio {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg;
  border-radius: 0px;
}

#pulseaudio.muted {
  color: @red;
}

#pulseaudio:hover {
  color: @yellow;
}

/* ----- Clock ----- */

#clock {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg;
  border-radius: 8px;
}

#clock:hover {
  color: @sky;
}

/* ----- Weather ----- */

#custom-weather {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg;
  border-radius: 10px;
}

#custom-weather:hover {
  color: @sky;
}

/* ----- Power ----- */

#custom-power {
  padding: 2px 15px;
  margin: 15px;
  color: @vl;
  background-color: @bg;
  border-radius: 20px;
  color: #bf0609;
}

#custom-power:hover {
  color: @red;
}

/* ----- Tooltip ----- */

tooltip {
  background: @bg2;
  margin: 20px;
  padding: 15px;
  border-radius: 14px;
}


#custom-ws,
#workspaces,
#window,
#custom-temperature,
#memory,
#cpu,
#idle_inhibitor,
#clock,
#custom-wifi,
#bluetooth,
#custom-update,
#mpris,
#pulseaudio,
#backlight,
#battery,
#custom-power {
  opacity: 1;
  color: @fg;
  background: @bg;
  padding: 0 15px;
  margin: 5px;
  border-radius: 20px;
}

#bluetooth {
  color: #9689e8;
}

#custom-wifi {
  color: #b4dce0;
}
